@page "/image"
@using Application.Images
@inject IImageService ImageService
@rendermode InteractiveServer

<PageTitle>Images</PageTitle>

<h1>Images</h1>

@foreach (var image in _images)
{
    <a href="/image/@image.Id">
        <img src="/api/images/@image.Id/thumbnail" alt="@image.Name">
    </a>
}


@code{

    private List<EF.Models.Models.Image> _images = [];

    protected async override Task OnInitializedAsync()
    {
        _images = await ImageService.GetImagesAsync(0, 20);
    }
}