@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Welcome to PhotoSharp</h1>
<p>PhotoSharp is a simple photo gallery application built with Blazor and ASP.NET Core Web API.</p>
<a class="btn btn-primary" href="/image">View Images</a>
<a class="btn btn-primary" href="/album">View Albums</a>