@page "/"
@using Application.Images
@using EF.Models.Models
@inject IImageService ImageService
@rendermode InteractiveServer

<PageTitle>Photos</PageTitle>

<h1>Photos</h1>

@foreach (var image in _images)
{
    <a href="/photo/@image.Id">
        <img src="/api/images/@image.Id/thumbnail" alt="@image.FileName">
    </a>
}


@code{

    private List<Image> _images = [];

    protected async override Task OnInitializedAsync()
    {
        _images = await ImageService.GetImagesAsync(0, 20);
    }
}